/* Mobile */
@media (max-width: 767px) {
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav {
        display: block;
    }

    .mobile-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    .search-btn {
        display: none;
    }

    #slider .text-heading,
    #slider .text-description {
        display: none;
    }
}